{% load static %} 
{% load tailwind_tags %}
{% tailwind_preload_css %}
{% tailwind_css %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Website{% endblock %}</title>    
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet" />
    <script src="{% static 'js/login.js' %}" defer></script>
  </head>
  <body>
    <div class="">
      {% block form %}{% endblock %} {% block content %}{% endblock %}
      <a href="{% url 'home' %}"class="font-medium text-blue-600 hover:underline dark:text-blue-500 text-center">Go Home</a>
    </div>
  </body>
</html>
